<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>プロフィール</h2>
      <%= render 'public/users/info', user: @user %>
      <h2 class="mt-3">新規投稿</h2>
      <%= render 'form', post: @post %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>投稿詳細</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"50x50" %><br>
              <%= @post.user.name %>
            <% end %>
          </td>
          <td><%= image_tag @post.get_image[0], size:'80x80' %></td>
          <td><%= link_to @post.title, @post %></td>
          <td><%= @post.body %></td>
          <% if @post.user == current_user %>
            <td><%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to '削除する', @post, method: :delete, remote: true, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>