<% if post_comment.errors.any? %>
<div style="background-color:#FF3300; color:white;">
  <%= post_comment.errors.count %>件のエラーが生じています:
  <ul>
    <% post_comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model:[post, post_comment], local: false) do |f| %>
  <%= f.file_field :post_comment_images, multiple: true, class: 'form-control-file user_image', accept: 'image/*' %>

  <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力", class: "form-control w-100" %>
  <%= f.submit "投稿する", class: "btn btn-success" %>
<% end %>