<div style="padding-top:120px; padding-bottom:70px;">
  <h1><b>ユーザープロフィール</b></h1>
　<table class='table'>
    <tr><%= image_tag @user.get_profile_image, size:'100x100' %></tr>
    <tr>
  	  <th>名前</th>
  	  <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>自己紹介</th>
   	  <th><%= @user.introduction %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
   	  <th><%= @user.email %></th>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <% if @user.is_deleted == false %>
        <td><h5 class="text-success font-weight-bold">有効</h5></td>
      <% else %>
        <td><h5 class="font-weight-bold" style="color: gray">停止</h5></td>
      <% end %>
    </tr>
  </table>
  <td><%= link_to "　編集する　", edit_admin_user_path(@user.id), class: 'btn btn-success' %></td>
</div>