<div class="container text-center", style="padding-top:70px; padding-bottom:70px;">
    <div class="btn-wrapper col-3 mx-auto">
      <h2><b>ログイン画面</b></h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
        </div>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力", class: "form-control" %>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
      <%= render "public/shared/links" %>
</div>