<div class='container'>
  <div class='row', style="padding-top:120px;">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if @user.email == 'guest@sample.com'%>
        <h2 style="color:red;"><b>ゲストユーザーはユーザー情報の編集ができません。</b></h2>
      <% else %>
        <h2>プロフィール編集</h2>
        <%= form_with model: @user, local:true do |f| %>
          <%= render 'layouts/errors', obj: @user %>
          <div class="form-group">
            <%= f.label "名前" %>
            <%= f.text_field :name, class: "form-control name" %>
          </div>
          <div class="form-group">
            <%= f.label "プロフィール画像" %>
            <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
          </div>
          <div class="form-group">
            <%= f.label "プロフィール" %>
            <%= f.text_area :introduction, class: "form-control introduction" %>
          </div>
          <div class="form-group">
            <%= f.submit "更新する", class: 'btn btn-success' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
